<div class="row">
  <div class="order-1 order-md-0 col-12 col-md-6 col-lg-4">
    <div>
      <label for="notepad-title">Notepad Title</label>
      <input [(ngModel)]="notepadModel.title" id="notepad-title" class="form-control" placeholder="My notepad title" type="text">
    </div>

    <div class="mt-3">
      <app-add-note (onAdd)="addNewNote($event)"></app-add-note>
    </div>

    <hr>

    <div>
      <app-notes-list [notes]="notepadModel.notes" (onNoteDelete)="deleteNote($event)"></app-notes-list>
    </div>
  </div>
  <div class="order-0 order-md-1 col-12 col-md-6 col-lg-8">
    <div class="d-flex justify-content-between justify-content-md-end align-items-start h-100 mt-2 mt-md-0">
      <a class="btn btn-outline-transparent btn-lg me-2" routerLink="/statistics">View Stats</a>
      <button class="btn btn-info btn-lg me-2" (click)="saveNotepad()">Save</button>
      <button class="btn btn-danger btn-lg" (click)="deleteNotepad()">Delete</button>
    </div>
  </div>
</div>
