/* This file is contains them variables */
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

$body-bg: #EEE;
$input-border-color: #CCC;
$input-placeholder-color: #AAA;
$form-text-color: #333;

$theme-colors: (
  "success": #57B93E,
  "danger": #EC3646,
  "info": #39ACDC,
);

@import "~bootstrap/scss/bootstrap";
